name: Validate

on:
  push:
  pull_request:
  release:
    types: [published, created]
  workflow_dispatch:

jobs:
  validate-hacs:
    runs-on: ubuntu-latest
    name: HACS Validation
    steps:
      - uses: actions/checkout@v3

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: integration

  validate-hassfest:
    runs-on: ubuntu-latest
    name: Hassfest Validation
    steps:
      - uses: actions/checkout@v3

      - name: Hassfest
        uses: home-assistant/actions/hassfest@master

  validate-python:
    runs-on: ubuntu-latest
    name: Python Syntax Check
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint with flake8
        run: |
          # Stop the build if there are Python syntax errors
          flake8 custom_components/cmg_waste_collection --count --select=E9,F63,F7,F82 --show-source --statistics
          # Exit-zero treats all errors as warnings
          flake8 custom_components/cmg_waste_collection --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics